<footer>
	<div class="social-links">
		<a href="https://bsky.app/profile/maccuci.com" target="_blank">
			<span>Blue Sky</span>
		</a>
		<a href="https://github.com/maccuci" target="_blank">
			<span>Github</span>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
